.button{
  background-color: rgb(10, 161, 226);
  transition: all .4s ease-out;
  font-weight: 700;
  height: 100%;
}
.button:hover{
  background-color: white !important;
  color: rgb(10, 161, 226) !important;
  border-color: rgb(10, 161, 226) !important;
  transition: all .4s ease-in;
}