.list{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px 20px;
  justify-content: space-between;
  grid-auto-rows: 100px;
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border: 1px solid rgb(10, 161, 226);
  border-radius: 10px;
  transition: all .4s ease-out;
}
.item > a{
  text-decoration: none;
  color: black;
  transition: all .4s ease-in;
}
.item:hover{
  background-color: rgb(10, 161, 226);
  transition: all .4s ease-in;
}
.item:hover > a{
  color: white;
  transition: all .4s ease-in;
}

@media screen and (max-width: 768px){
  .list{
    grid-template-columns: repeat(2, 1fr);
  }
}